* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

li, a, button {
    font-size: 16px;
    color: #c2c2c2;
    text-decoration: none;
    background-color: #24252A;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #24252A;
}

.nav_links {
    list-style: none;
    background-color: #24252A;
}

.nav_links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav_links li a {
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: #0088a9;
}

button {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 1);
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    padding: 9px 25px;
    background-color: rgba(0, 136, 169, 0.8 );
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.logo {
    font-size: 26px;
}